*{
	margin: 0;
	padding: 0;
}
body{font-family:  Bai Jamjuree;
	font-weight: 400, 600;
	text-align: center;	
	Font-size: 18px;
}


div{
margin-top: 20px;
margin-bottom: 20px;

}


header{
	background-image: url(bg-header-desktop.png);
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 20px;
   background-size: 100% 100%;
}

p{
	color: lightgray;
	margin-top: 5px;
	margin-bottom: 10px;
}

button{
	color: white;
	border-radius: 30px ;
    border: none;
	padding: 10px;
	margin: 20px;

}
.one{
	background-color:rgb(0, 204, 122);
}

.two{
	background-color: rgb(0, 115, 230);
}


.div-main{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	height: 400px;
}


.img1{
	height: 300px;
	width: 400px;
}
a{
text-decoration: none;
color: white;
}

.img2{
	height: 45%;
	width: 55%;
}


.div-main2{
	display: flex;
	justify-content: space-around;
}

.div-main3{
	display: flex;
	justify-content: space-around;
}

footer{
	background-color:gray;
	display: flex;
	justify-content: space-around;	
}

div a svg{
	margin-left: 20px;
	
}

footer div svg{
	margin-top: 20px;
}




